# SPDX-License-Identifier: 0BSD

name: Build and test

on: [push]

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.runner }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: 'Windows Latest - MSVC'
            runner: windows-latest
            build-type: Release
            cc: cl
            cxx: cl

          - name: 'Windows Latest - Clang'
            runner: windows-latest
            build-type: Release
            cc: clang
            cxx: clang++

          - name: 'Ubuntu 24.04 - GCC'
            runner: ubuntu-24.04
            build-type: Release
            cc: gcc
            cxx: g++

          - name: 'Ubuntu 24.04 - Clang'
            runner: ubuntu-24.04
            build-type: Release
            cc: clang
            cxx: clang++

    steps:
      - name: Checkout project
        uses: actions/checkout@v2

      - name: Install CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ~3.27.4
          ninjaVersion: ^1.12.1

      - name: Setup MSVC environment if Windows
        uses: ilammy/msvc-dev-cmd@v1

      - name: Add clang path to $PATH env
        shell: pwsh
        if: runner.os == 'Windows' && matrix.config.cc == 'clang'
        run: |
          echo "C:\msys64\mingw64\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Download Intel SDE (Linux)
        if: runner.os == 'Linux'
        run: |
          curl https://downloadmirror.intel.com/732268/sde-external-9.7.0-2022-05-09-lin.tar.xz --output sde-external-9.7.0-2022-05-09-lin.tar.xz
          tar xJvf sde-external-9.7.0-2022-05-09-lin.tar.xz
          mv sde-external-9.7.0-2022-05-09-lin sde

      - name: Download Intel SDE (Windows)
        shell: pwsh
        if: runner.os == 'Windows'
        run: |
          choco upgrade 7zip -y
          Invoke-WebRequest https://downloadmirror.intel.com/732268/sde-external-9.7.0-2022-05-09-win.tar.xz -OutFile sde-external-9.7.0-2022-05-09-win.tar.xz
          7z x sde-external-9.7.0-2022-05-09-win.tar.xz
          7z x sde-external-9.7.0-2022-05-09-win.tar -y
          Move-Item sde-external-9.7.0-2022-05-09-win sde

      - name: Setup yama for Intel SDE to run
        if: runner.os == 'Linux'
        run: "sudo sh -c 'echo 0 > /proc/sys/kernel/yama/ptrace_scope'"

      - name: Configure CMake project
        shell: pwsh
        run: |
          cmake `
          -D CMAKE_BUILD_TYPE=${{ matrix.config.build-type }} `
          -D INTEL_SDE_PATH="$(pwd)/sde/sde$(('', '64')[[Environment]::Is64BitOperatingSystem -and "${{ runner.os }}" -ne 'Windows']);--" `
          -D CMAKE_INSTALL_PREFIX="$(pwd)/_install" `
          -G Ninja `
          -B build/
        env:
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}

      - name: Build the project
        run: cmake --build build/

      - name: Test the project
        run: ctest -V --test-dir build/ --output-on-failure
